.about-me {
  &-data {
    display: flex;
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);

    .attributes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .attribute {
        display: grid;
        place-items: center;
      }
    }
  }

  @include sm {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .attributes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .attribute {
          display: grid;
          place-items: center;
        }
      }
    }
  }
}
